/*fonts*/

$font-1:"Heebo",
Arial,
sans-serif;
$font-2:Lora,
Helvetica,
Arial,
sans-serif;

/*colors*/

$color-primary: #00a5b2;
$color-grey-1:rgb(93%, 93%, 93%);
$color-grey-2:rgb(30%, 18%, 14%);
$color-grey-3:rgb(176, 176, 176);
$color-red:rgb(215, 71, 4);
$color-gold:#ffd055;

/*media query breakpoints*/

$breakpoints: ( 'small':(min-width:576px), 'medium': (min-width: 768px), 'large': (min-width: 992px), 'huge': (min-width: 1200px), );

/*cuboid slider variables*/

$cuboid-height:40vw;
$cuboid-width:100vw;
$cuboid-minheight:20rem;
$cuboid-animation-time:2s;

/*scalecard*/

$bigcard--width: 57rem;
$bigcard--height: 52.4rem;
$smallcard--height: 20rem;
$smallcard--width:27rem;
$mediumcard--height: 30rem;
$bigcard--height: 52.4rem;