<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>collectionCard</title>
</head>
<body>
    <!-- collectionCard -->
    <!-- <div class="collectionCardVeiw">
        <div class="collectionCard flipY--right">
            <div class="collectionCard__gradient collectionCard__gradient--toRight">     
            </div>
            <div class="collectionCard__transbox collectionCard__transbox--light text--left">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam reiciendis nemo suscipit fugit doloribus maiores perspi.</p>
                    <span><b>$14.08</b></span>
            </div>        
        </div>
    </div> -->
    

    <!-- userCard -->
    <div class="userCard text--center">
        <div class="userCard__thumbnail"></div>
        <!-- must be h3 due to css -->
        <h3>John Doe</h3>
        <p>PRODUCT MANAGER</p>
        <div class="userCard__socialIconsBox">
            <div class="userCard__socialIcon"></div>
            <div class="userCard__socialIcon"></div>
            <div class="userCard__socialIcon"></div>
        </div>
    </div>
    <!-- <div class="userCard">
    <div style="display:flex">
            <div class="userCard__socialIcon"></div>
            <div class="userCard__socialIcon"></div>
            <div class="userCard__socialIcon"></div>
        </div>
    </div> -->

</body>
</html>