<app-page-header [title]="'Create Shop'" [path]="['Home','Create Shop']"></app-page-header>

<div class="container pt-5">
  <form [formGroup]="shopForm" (ngSubmit)="finish()" (change)="saved=false">
    <div class="form-group pt-4" id="">
      <h3 class='text-primary mb-3'>Shop Name</h3>
      <div class='text-danger' *ngIf="shopForm.get('name').hasError('required')&&shopForm.get('name').dirty">* Shop name
        is required</div>
      <div class='text-danger' *ngIf="shopForm.get('name').hasError('pattern')&&shopForm.get('name').dirty">* Shop name
        must have only letters, numbers, underscore(_), and dash(-) </div>

      <div class="input-group mb-2 ">
        <input formControlName="name" #nameControl type="text" class="form-control"
          [ngClass]="{'is-invalid': (shopForm.get('name').invalid&&shopForm.get('name').dirty)||!validName}"
          placeholder="choose a unique shop name. example: RaniaCraftz_12">
        <div class="input-group-prepend">
          <button class=" input-group-text" [disabled]="!(shopForm.get('name').valid&&shopForm.get('name').dirty)"
            (click)="checkAvailability()">Check
            Availabilty</button>
        </div>
      </div>
    </div>
    <div class="form-row pt-3 mt-5">
      <div class="col-12">

        <h3 class='text-primary mb-3'>Shop Information</h3>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>About *</label>
          <textarea formControlName="about" class="form-control"
            [ngClass]="{'is-invalid': shopForm.get('about').invalid&&shopForm.get('about').dirty}" rows="3"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Policies and Returns</label>
          <textarea formControlName="policies" class="form-control" rows="3"></textarea>
        </div>
      </div>
    </div>


    <div formGroupName="address">
      <div class="form-group pt-3 mt-5">
        <h3 class='text-primary mb-3'>Shop Address</h3>
        <label for="">Street *</label>
        <div class="input-group mb-2">
          <input
            [ngClass]="{'is-invalid': shopForm.get('address').get('street').invalid&&shopForm.get('address').get('street').dirty}"
            formControlName="street" type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-row pt-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Country *</label>
            <select formControlName="country" class="form-control" id="">
              <option value='1'>Egypt</option>
              <option value='2'>US</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">City *</label>
            <select formControlName="city" class="form-control" id="">
              <option value='1'>Cairo</option>
              <option value='2'>Alex</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row pt-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">District*</label>
            <select formControlName="district" class="form-control" id="">
              <option value='1'>October</option>
              <option value='2'>Haram</option>
              <option value='3'>Other</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Postal Code</label>
            <span class='text-danger'
              *ngIf="shopForm.get('address').get('postalcode').invalid && shopForm.get('address').get('postalcode').dirty">
              * only numberic values allowed</span>
            <input
              [ngClass]="{'is-invalid':shopForm.get('address').get('postalcode').invalid && shopForm.get('address').get('postalcode').dirty}"
              formControlName="postalcode" type="text" class="form-control" id="">
          </div>
        </div>
      </div>
    </div>
    <div class="form-row justify-content-end">
      <div>
        <button class="btn btn-light mr-3" (click)="cancel()">cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="shopForm.invalid">finish</button>
      </div>
    </div>
  </form>
</div>