.footer {
    position: relative;
    // height: 60vh;
    color:white;
    background-color: $primary;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    margin-top:20rem;
    &__logo{
        height:7rem;   
    }
    
}

