.nav-bar
{
    .logo-container
    {
      
        .logo{
            float: left;
        }
    }
   
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;

.search-box
{
    float: right;
    .search
{
    height: 2rem;
    border-radius: .5rem;
    padding: .1rem;
}
.fa-search{
&:hover{
    color: $color-primary;
    cursor: pointer;
}
}
}
}

