
<nav class="navbar navbar-dark bg-primary sub-nav">
  
  <div class="collapse-nav col float-left">
    <p>
      <button type="button" class="btn btn-outline-secondary" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <i class="fas fa-bars"></i>
          </button>
        </p>
        <div id="collapseExample" [ngbCollapse]="isCollapsed">
          <div class="card">
            <div class="card-body">
                <a routerLink="/home" routerLinkActive="text-primary"><h5 class="list-title">Home</h5></a>
                <a routerLink="/shop" routerLinkActive="text-primary"><h5 class="list-title">Shops</h5></a>
                <a routerLink="/products" routerLinkActive="text-primary"><h5 class="list-title">Products</h5></a>
                <div *ngIf="false">
                  <a routerLink="/profile" routerLinkActive="text-primary"><h5 class="list-title" routerLink="/profile"> View Profile</h5></a>
                  <a routerLink="/editprofile" routerLinkActive="text-primary"><h5 class="list-title" routerLink="/editprofile">Edit Profile</h5></a>
                </div>
              </div>
          </div>
        </div>
  </div>
  
  <div *ngIf="!isAuthenticated" class="col">
    <a class="text-white float-right pl-2" routerLink="/login" routerLinkActive="text-secondary">Log in </a>
    <a class="text-white pr-2 float-right border-right" routerLink="/signUp" routerLinkActive="text-secondary" >sign up</a>
  </div>
  <div *ngIf="isAuthenticated" class="col">
    <a class="text-white float-right pl-2" routerLink="/home" (click)="logOut()" >Log out </a>
    <p class="text-white float-right pr-2 border-right" routerLink="/profile">Hello {{currentUser.firstName}} <img height="25px" width="25px" class="rounded-circle" src="../../../../assets/images/up.png"></p>
  </div>
</nav>


<nav class="nav-bar">
  <div class="logo-container">
    <img class="logo" height="90px" src="assets/images/artisan.jpg" alt="logo">
  </div>

  <div class="drop-downs-container row justify-content-around">
    <div class="drop-down-list col"><h5><a class="p-2" routerLink="/home" routerLinkActive="text-primary">
        Home
      </a></h5>
    </div>

    <div class="drop-down-list col">
     <h5><a routerLink="/shop" routerLinkActive="text-primary"class="p-2">Shops</a></h5>
    </div>

    <div class="drop-down-list col">
     <h5> <a routerLink="/products" routerLinkActive="text-primary" class="p-2">Products</a></h5>
   
    </div>


    <!--Profile link-->
    <div *ngIf="isAuthenticated" class="drop-down-list col">
        <h5><a routerLink="/profile" class="p-2" routerLinkActive="text-primary">
            Profile
      </a></h5>
      <div class="list-container list-container--visibility">
        <ul class="nav-list">
          <li><a class="list-item" routerLink="/profile">View</a></li>
          <li><a class="list-item" routerLink="/editprofile">Edit</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="search-box mr-5">
    
      <input placeholder="Search" id="typeahead-basic" type="text" class="align-self-end form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
    
    </div>

</nav>