
<nav class="navbar navbar-dark bg-primary row">
  
  <div class="collapse-nav col float-left">
    <p>
      <button type="button" class="btn btn-outline-secondary" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <i class="fas fa-bars"></i>
          </button>
        </p>
        <div id="collapseExample" [ngbCollapse]="isCollapsed">
          <div class="card">
            <div class="card-body">
                <a routerLink="/home"><h5 class="list-title">Home</h5></a>
                <a routerLink="/home"><h5 class="list-title">Shops</h5></a>
                <a routerLink="/home"><h5 class="list-title">Products</h5></a>
                <a routerLink="/profile"><h5 class="list-title" routerLink="/profile"> View Profile</h5></a>
                <a routerLink="/editprofile"><h5 class="list-title" routerLink="/editprofile">Edit Profile</h5></a>
              </div>
          </div>
        </div>
  </div>
  
  <div class="col sign-in">
    <a class="text-white float-right pl-2" routerLink="/login">Log in </a>
    <a class="text-white pr-2 float-right border-right" routerLink="/signUp">sign up</a>
  </div>
</nav>


<nav class="nav-bar">
  <div class="logo-container">
    <img class="logo" src="assets/images/logo-2.png" alt="logo">
  </div>

  <div class="drop-downs-container">
    <div class="drop-down-list"><a routerLink="/home">
        <h5 class="list-title">Home</h5>
      </a>
      <!-- <div class="list-container list-container--visibility">
        <ul class="nav-list">
          <li><a class="list-item" routerLink="/home">Home</a></li>

          <li><a class="list-item" href="#">Home 2</a></li>
          <li><a class="list-item" href="#">Home 3</a></li>
          <li><a class="list-item" href="#">Home 4</a></li>
          <li><a class="list-item" href="#">Home 5</a></li>
        </ul>
      </div> -->
    </div>

    <div class="drop-down-list">
      <h5 class="list-title">Shops</h5>
      <div class="list-container list-container--visibility">
        <ul class="nav-list">
          <li><a class="list-item" href="#">Accesories</a></li>
          <li><a class="list-item" href="#">Crafts</a></li>
          <li><a class="list-item" href="#">Decor</a></li>
          <li><a class="list-item" href="#">Clothes</a></li>
          <li><a class="list-item" href="#">Bags</a></li>
        </ul>
      </div>
    </div>
    <div class="drop-down-list">
      <h5 class="list-title">Products</h5>
      <div class="list-container list-container--visibility">
        <ul class="nav-list">
          <li><a class="list-item" href="#">Home 1</a></li>
          <li><a class="list-item" href="#">Home 2</a></li>
          <li><a class="list-item" href="#">Home 3</a></li>
          <li><a class="list-item" href="#">Home 4</a></li>
          <li><a class="list-item" href="#">Home 5</a></li>
        </ul>
      </div>
    </div>
    <div class="drop-down-list">
        <a routerLink="/profile">
      <h5 class="list-title">Profile</h5>
      </a>
      <div class="list-container list-container--visibility">
        <ul class="nav-list">
          <li><a class="list-item" routerLink="/profile">View</a></li>
          <li><a class="list-item" routerLink="/editprofile">Edit</a></li>
          <!-- <li><a class="list-item" href="#">Home 3</a></li>
          <li><a class="list-item" href="#">Home 4</a></li>
          <li><a class="list-item" href="#">Home 5</a></li> -->
        </ul>
      </div>
    </div>
    <!-- <div class="drop-down-list">
      <h5 class="list-title">Title4</h5>
      <div class="list-container list-container--visibility">
        <ul class="nav-list">
          <li>

            <a class="list-item " href="#">Home 1
              <i class="fas fa-angle-right ml-3 mt-2"></i>
            </a>


            <div class="list-container sub-list">
              <ul class="nav-list ">
                <li><a class="sub-list-item" href="#">example</a></li>
                <li><a class="sub-list-item" href="#">example</a></li>
                <li><a class="sub-list-item" href="#">example</a></li>
                <li><a class="sub-list-item" href="#">example</a></li>
              </ul>
            </div>
          </li>
          <li><a class="list-item" href="#">Home 2<i class="fas fa-angle-right ml-3 mt-2"></i></a>
            <div class="list-container sub-list">
              <ul class="nav-list ">
                <li><a class="sub-list-item" href="#">example</a></li>
                <li><a class="sub-list-item" href="#">example</a></li>
                <li><a class="sub-list-item" href="#">example</a></li>
                <li><a class="sub-list-item" href="#">example</a></li>
              </ul>
            </div>
          </li>
          <li><a class="list-item" href="#">Home 3</a></li>
          <li><a class="list-item" href="#">Home 4</a></li>
          <li><a class="list-item" href="#">Home 5</a></li>
        </ul>
      </div>
    </div>
    <div class="drop-down-list">
      <h5 class="list-title">Title5</h5>
      <div class="list-container list-container--visibility">
        <ul class="nav-list">
          <li><a class="list-item" href="#">Home 1</a></li>
          <li><a class="list-item" href="#">Home 2</a></li>
          <li><a class="list-item" href="#">Home 3</a></li>
          <li><a class="list-item" href="#">Home 4</a></li>
          <li><a class="list-item" href="#">Home 5</a></li>
        </ul>
      </div>
    </div> -->
  </div>
  
  <div class="search-box mr-5">
    
      <input placeholder="Search" id="typeahead-basic" type="text" class="align-self-end form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
      <!-- <i class="fas fa-search"></i> -->
    
    </div>

</nav>