@media (max-width: 600px){
    .nav-bar{
        visibility: hidden;
        display: none;
    }
    .collapse-nav{
        display: block;
        
    }
    .sub-nav{
        position: fixed;
        z-index: 5;
        top:0;
        width: 103%;
    }
 
}
@media (min-width: 600px){
    .collapse-nav{
        display: none;
    }
    .nav-bar{
        visibility: visible;
        display: flex;

    }
}
.list-title{
    outline: none;
}






