<div class="container-fluid mt-5 mb-5">

  <div class="row listing">
    <div class="col-md-2 listing__filters">
      <div class='mt-5'>
        <div class='listing__filters__title'>Categories</div>
        <ul class="list-group list-group-flush listing__filters__categories">
          <li class="list-group-item" *ngFor="let item of categories"
            (click)="addFilter({key:'category',value:item.name})">{{item.name}}</li>
        </ul>
      </div>


      <div class='mt-5 listing__filters__rating'>
        <div class='listing__filters__title'>Rating</div>
        <div class="listing__filters__rating__item" (click)="addFilter({key:'rating',value:5})">
          <app-rating [rate]="5" [readonly]="true"></app-rating>
        </div>
        <div class="listing__filters__rating__item" (click)="addFilter({key:'rating',value:4})">
          <app-rating [rate]="4" [readonly]="true"></app-rating>
        </div>
        <div class="listing__filters__rating__item" (click)="addFilter({key:'rating',value:3})">
          <app-rating [rate]="3" [readonly]="true"></app-rating>
        </div>
        <div class="listing__filters__rating__item" (click)="addFilter({key:'rating',value:2})">
          <app-rating [rate]="2" [readonly]="true"></app-rating>
        </div>
        <div class="listing__filters__rating__item" (click)="addFilter({key:'rating',value:1})">
          <app-rating [rate]="1" [readonly]="true"></app-rating>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row justify-content-between">
        <div class="col-3" *ngIf="this.searchQuery">
          <p>Showing results of "{{this.searchQuery}}"</p>
        </div>

        <div class="col-md-4 d-flex flex-row justify-content-end align-items-stretch ml-auto">
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Search" (keydown.enter)="search($event)">
          </div>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="SortByDropDown" ngbDropdownToggle>Sort By</button>
            <div ngbDropdownMenu aria-labelledby="SortByDropDown">
              <button ngbDropdownItem>Price high to low</button>
              <button ngbDropdownItem>Price low to high</button>
              <button ngbDropdownItem>Highest rated</button>
              <button ngbDropdownItem>Lowest rated</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div>
            <span class="badge badge-primary" *ngFor="let item of filters;let i=index;">
              {{item.key}} = {{item.value}} <i class="fas fa-minus-circle fa-md" (click)="removeFilter(i)"></i>
            </span>

          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-6 mt-5" *ngFor="let item of shops">
          <app-shop-card [shop]="item"></app-shop-card>
        </div>

      </div>
      <div class="row mt-5">
        <div class="col-12 d-flex justify-content-end">
          <nav aria-label="Page navigation example ">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>