.img-zoom{
    transition: .5s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}
.bg-grey{
    background-color: $color-grey-1;
    color: $secondary-color;
}

.title {
    font-size:2rem;
}

.productPhoto {
    height: 20rem;
}
.productPhotos
{
    width: 8rem;
    max-width: 120%;
    padding-left: 0.5rem;
}

.error__msg{
    color:red;
}
.sale {
    margin-left: -7rem;
}
.discount {
    width: 10rem;
    margin-left: -7rem;
    
}