.infocard {
    width: $largecard--width;
    text-align: center;
   
    &__header {
        &__title {
            color: $color-grey-3;
        }
    }
    &__desc {
        color: $color-grey-4;
    }
    &__img {
        background-image: url("assets/images/imgt.jpg");
        height: 26.7rem;
    }
    &__overlay {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        height: 10%;
        transition:0.5s;
        opacity: 0;
    }
    &__footer {
        background-color: $color-grey-1;
    }
    &:hover .infocard__overlay {
        opacity: 1;
        height: 100%;
    }
}