.listing{
    width:90%;
    margin: auto;
    &__filters{
        &__title{
            font-size:2rem;
            color:$primary;
        }
        &__categories{
            .list-group-item:hover{
                cursor: pointer;
            }
        }
        &__rating{
            &__item:hover{
                span{
                    cursor:pointer;
                }
            }
        }
    }
}