.productcard {
    overflow: hidden;
    position: relative;
    display: flex;
    .front,
    .back {
        display: none;
    }
    &__controls{
        position: absolute;
        display: flex;
        justify-content: flex-end;
        z-index: 5;
        width:100%;
        button{
            margin: 0.5rem;
            box-shadow: 0.1rem 0.1rem grey;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        &--front {
            position: absolute;
        }
        &--back {
            visibility: hidden;
            filter: opacity(0%);
            position: absolute;
            transition-duration: 0.3s;
            filter: opacity(0%);
            transform: scale(2);
            &:hover {
                visibility: visible;
                filter: opacity(100%);
                transform: scale(1);
            }
        }
    }
    &__images {
        position: relative;
        width: 100%;
        height: 70%;
    }
    &__title {
        font-family: $font-1;
        font-weight: 400;
        font-size: 1.8rem;
    }
    &--horizontal {
        flex-flow: row;
        .productcard__horizontal-container {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            gap: 1rem;
        }
    }
    &--vertical {
        flex-flow: column;
        justify-content: space-between;
        height: 30rem;
        .productcard__body {
            display: flex;
            flex-flow: row;
            & .rating {
                margin-left: auto;
            }
        }
        .productcard__images {
            width: inherit;
            height: 80%;
        }
       
    }
    &__buttons {
        position: absolute;
        display: flex;
        visibility: hidden;
        filter: opacity(0%);
        transition-duration: 0.5s;
        flex-flow: row;
        width:100%;
        top:50%;
        transform: translateY(-50%);
        justify-content: space-evenly;
        align-items: center;
    }
    &__btn {
        width: 3rem;
        height: 3rem;
        border-radius: 20%;
        border: 1px solid transparent;
        background-color: white;
        box-shadow: 0 0 0.5rem black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .fas {
            color: $color-primary;
        }
        &:hover {
            cursor: pointer;
            border-color: $color-primary;
            & .productcard__btn__title {
                visibility: visible;
            }
        }
        &__title{
            visibility: hidden;
            background: $primary;
            position: absolute;
            border-radius: 1rem;
            padding: 0.5rem;
            text-align: center;
            bottom:150%;
            color: white;
            font-size: 1rem;
            z-index: 3;
            &:before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                width: 0;
                height: 0;
                border-left: 0.5rem solid transparent;
                border-top: 1rem solid $color-primary;
                border-right: 0.5rem solid transparent;
            }
        }
    }
    &:hover {
        .productcard__img--back {
            visibility: visible;
            filter: opacity(100%);
            transform: scale(1);
        }
        .productcard__buttons {
            visibility: visible;
            filter: opacity(100%);
        }
        cursor: pointer;
    }
}
