<!-- packaging and shipping price -->

<div class="container mt-5 ">
  <div class="row mb-5">
    <div class="col-12 d-flex justify-content-center">
      <h2 class='u-title'>Packaging and shipping fees</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Package number</th>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Shipping Fees</th>
            <th scope="col">Arrival date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" rowspan="3">1</th>
            <td>shoes</td>
            <td>2 x $20</td>
            <td>$5</td>
            <td rowspan="3">
              19 March-20 March
            </td>
          </tr>
          <tr>
            <!-- <th scope="row">2</th> -->
            <td>shoes</td>
            <td>2 x $20</td>
            <td>$5</td>
          </tr>
          <tr>
            <!-- <th scope="row">3</th> -->
            <td>shoes</td>
            <td>2 x $20</td>
            <td>$5</td>
          </tr>
          <tr>
            <th scope="row" rowspan="2">2</th>
            <td>shoes</td>
            <td>2 x $20</td>
            <td>$5</td>
            <td rowspan="2">19 March-20 March</td>
          </tr>
          <tr>
            <!-- <th scope="row">2</th> -->
            <td>shoes</td>
            <td>2 x $20</td>
            <td>$5</td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>

</div>
<hr>
<!-- Payment methods -->
<div class="container">
  <div class="row mb-5">
    <div class="col-12 d-flex justify-content-center">
      <h2 class='u-title'>Payment methods</h2>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-12">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/images/payment-method.svg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title text-primary">Disclaimer</h2>
              <p class="card-text">
                The only available payment method is cash on delivery
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end m-3">
        <button class="btn btn-primary">Submit Order</button>
      </div>
    </div>
  </div>
</div>