    <!-- footer -->
    <footer class="footer container-fluid">
      <div class="row justify-content-center">
          <div class="col-auto">
              <img class="footer__logo" src='assets/images/logo1.png'>
          </div>
      </div>
      <div class="mh-100 row justify-content-center">
          <div class="col-md-4 text-center">
              <ul class="list-group list-group-flush">
                  <a href="#" class="list-group-item list-group-item-action bg-transparent borderless">PRIVACY
                      POLICY</a>
                  <a href="#" class="list-group-item list-group-item-action bg-transparent borderless">TERMS
                      & CONDITIONS</a>
                  <a href="#" class="list-group-item list-group-item-action bg-transparent borderless">ABOUT</a>
              </ul>
          </div>
          <div class="col-md-4 align-items-center text-center">
              <div class="mb-5 d-flex justify-content-around">
                  <a><i class="fab fa-facebook-f"></i></a>
                  <a><i class="fab fa-twitter"></i></a>
                  <a><i class="fab fa-pinterest-p"></i></a>
                  <a><i class="fab fa-instagram"></i></a>
              </div>
              <h2>WEEKLY NEWSLETTER</h2>
              <ul class="list-group mt-3 mb-5">
                  <li class="list-group-item bg-transparent">name@email.com</li>
                  <button type="button"
                      class="list-group-item list-group-item-action bg-transparent">Subscribe</button>
              </ul>
          </div>
          <div class="col-md-4 text-center">
              <ul class="list-group list-group-flush">
                  <a href="#" class="list-group-item list-group-item-action bg-transparent borderless">SHIPPING
                      INFO</a>
                  <a href="#" class="list-group-item list-group-item-action bg-transparent borderless">RETURNS /
                      EXCHANGES</a>
                  <a href="#" class="list-group-item list-group-item-action bg-transparent borderless">CONTACT</a>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="col text-center">
              &copy; 2019 ITI - UI development track
          </div>
      </div>
  </footer>