<div class="card bg-white text-primary text-center p-3">
  <h4><strong>Visitors</strong> Statistics</h4>
  <div>
    <ul class="text-left">
      <li *ngFor="let visit of shopVisits" class="mb-3">
        <div class="d-flex justify-content-between align-items-center">
          <p class="text-capitalize mb-0">{{visit.region}}</p>
          <span>{{visit.numberOfVisits}}%</span>
        </div>
        <ngb-progressbar class="'bg-light'" [showValue]="false" [max]="100" [value]="visit.numberOfVisits"
          [height]="'15px'">
        </ngb-progressbar>
      </li>
    </ul>
  </div>
</div>