.collectionCard
{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // width:$smallcard--width;
    width:($mediumcard--height)-6.5rem;
    height:$mediumcard--height;
    background-image: url("../images/9-1-805x1024-front.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s ease-in-out;
    &:hover
    {
    background-image: url("../images/9-2-805x1024-back.jpg");
    .collectionCard__gradient
    {
        display: block;
    }
    }
    &__transbox{
        position: absolute;
        bottom: 0;
        &--dark{
            @include set-fore-back-colors($white,rgba($black,0.8));
        }
        &--light
        {
            @include set-fore-back-colors($black,rgba($white,0.8));
        }
    }
    &__gradient
    {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: none;
        background-image: none;
        &--toLeft // to be restructured in slider
        {
            &:hover{
                background-image: linear-gradient(to left,rgba($black,0.6) 35%,transparent 65%);
            }
        }
        &--toRight
        {
            &:hover{
                background-image: linear-gradient(to right,transparent 35%, rgba($black,0.6) 65%);
            }
        }
    }
}
.collectionCardVeiw
{
    perspective: 1000px;
    perspective-origin: center;
    transform-style: preserve-3d;
}