.drop-downs-container
{
    display: flex;
    flex-direction: row;
.drop-down-list
{
   
    &:hover{
        .list-container--visibility{
            visibility: visible;
            opacity: 1;
        }
    }
    position: relative;
 .list-title
 {
    line-height: 100%;
     margin-top: 0;
     margin-right: 2rem;
     margin-bottom: 0;
    color: $secondary-color;
    border-right: .1rem solid #88888841;;
    padding: .5rem;
    transition: ease-in .4s;
    
    &:hover{
    color: $color-primary;
    &+.list-container--visibility{
        visibility: visible;
        opacity: 1;
        top: 2.5rem;
    }
    }
 }
 .list-container
 {
     position: absolute;
     top:3.5rem;
    background-color: $color-primary;
    //width: 11rem;
    padding: 1rem 0;
    padding-left: 0;
    visibility: hidden;
    transition: ease-in .4s;
    opacity: 0;
    box-shadow: 5px 5px #88888893;
    &--visibility{
        &:hover{
            visibility: visible;
            opacity: 1;
        }
    }
   
    .nav-list
 {
     list-style: none;
     padding: 0 2rem 0 2rem;
     li{
         white-space: nowrap;
         position: relative;
        list-style: none;
        margin-bottom: 1rem; 
        margin-right: 2rem; 
        .fa-angle-right{
         color: $white;
         float: right;
         margin-right: .5rem;
         transition: .3s;
        
      }
      .list-item,.sub-list-item
      {
       color: $white;
       font-size: 18px;
       transition: .3s;
       font-weight: bold;
       text-decoration: none;
       display: flex;
       flex-direction: row;

      }
      .sub-list{
         top:0;
         left: 9rem;
        
          &:hover{
            visibility: visible;
            opacity: 1;
          }
      }
      
      &:hover{
         .fa-angle-right{
             color: $secondary-color;
      }
       .list-item{
         color: $secondary-color;
       }
      
        .sub-list{
            visibility: visible;
            opacity: 1;
        }
       

  }
      }
      .sub-list-item{
          &:hover{
              color: $secondary-color;
          }
      }
 }
 }
 
    
}
}