.userCard
{
    display: flex;
    flex-direction: column; //  i don't need wrap in column unles i gave it fixed height
    // justify-content: center;
    // align-items: center; // feha mo4kla w lazm ta5od text--center
    transition: all 0.2s ease-in-out;
    color:$black;
    &:hover
    {
        &.userCard > h3
        {
            color:$color-primary;
        }
        &.userCard > .userCard__thumbnail
        {
            box-shadow: 0 1px 10px -1px rgba($black,0.2);
        }
    }
    &__thumbnail
    {
        width: 100%;
        padding-top: 100%;
        border-radius: 50%;
       // background-color: aqua;
        background-size: cover;
        background-position: center;
        background-clip: border-box;
        box-shadow: none;
    }
    &__socialIconsBox
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;        
    }
    &__socialIcon
    {
        width: 15%;
        border-radius: 50%;
        margin:0px 2%;
       // padding-top: 20%;
        background-color: $color-primary;
        cursor: pointer;
        color: white;
    }
}