.modal{
    &-container{
        height: 100%;
        position: fixed;
        top:0%;
        left:0%;
        background-color: rgba(128, 128, 128, 0.678);
        width: 100%;
        z-index: 2000;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    &-box{
        background-color: white;
        min-width: 40%;
        border-radius: 1rem;
        max-height: 90%;
        overflow-y: scroll;
        box-sizing: content-box;
    }
}