<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>   
<body>
    <div class="orderTrack">
        <div class="container py-5 orderTrack__process">
            <div class="row">
                <div class="col-sm-12">
                    <div class="orderTrack__process__Bar rounded">
                        <div class="position-relative d-flex justify-content-between orderTrack__process__Bar__items" >
                            <i class="fas fa-dot-circle"></i>
                            <i class="fas fa-dot-circle"></i>
                            <i class="fas fa-dot-circle"></i>
                            <i class="fas fa-dot-circle"></i>
                            <i class="fas fa-dot-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-sm-12 d-flex justify-content-between orderTrack__process__name">
                    <span class="font-italic">Processed</span>
                    <span class="font-italic">Pre-Transit</span>
                    <span class="font-italic">In-Transit</span>
                    <span class="font-italic">Out For Delivery</span>
                    <span class="font-italic">Delivered</span>
                </div>
            </div>
        </div>
        <div class="container orderTrack__info">
            <div class="row">
                <div class="col-sm-4">
                    <div class="text-center py-5">
                        <span>Delivered on </span>
                        <h1 class="py-3"> Saturday ,1 March </h1>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="m-2 text-center orderTrack__info__code">
                        <i class="fas fa-shipping-fast "></i>
                    </div>
                    <h3 class="py-1">Order Code: <small><em>EZ000004</em></small></h3>
                </div>
                <div class="col-sm-4">
                    <img class="orderTrack__info__img" src="../assets/images/image_7.jpg" alt="Product Name"/>
                </div>
            </div>
        </div>
        <div class="container-fluid my-5 orderTrack__details">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header p-4">
                            <h3> March 1 , 2019 </h3>
                        </div>
                        <div class="card-body d-inline">
                            <span>12.30 am</span>
                            <span class="orderTrack__details__item do">
                                <i class="far fa-check-circle"></i>
                            </span>
                            <span class="card-text">Delivered</span>
                        </div>
                        <hr class="m-0"/>
                        <div class="card-body d-inline">
                            <span>12.30 am</span>
                            <span class="orderTrack__details__item doing">
                                <i class="far fa-check-circle"></i>
                            </span>
                            <span class="card-text">Out of Delivery</span>
                        </div>
                        <hr class="m-0"/>
                        <div class="card-body d-inline">
                            <span>12.30 am</span>
                            <span class="orderTrack__details__item done">
                                <i class="far fa-check-circle"></i>
                            </span>
                            <span class="card-text">In-Transit</span>
                        </div>
                        <hr class="m-0"/>
                        <div class="card-body d-inline">
                            <span>12.30 am</span>
                            <span class="orderTrack__details__item done">
                                <i class="far fa-check-circle"></i>
                            </span>
                            <span class="card-text">Pre-Transit</span>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>