<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <style>
        .circle {
            width: 70px;
            height: 70px;
            background: red;
            border-radius: 50%
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <br>
                <h4>Leather crafting Tutorial</h4>
                <h1>Make your own Bag in less than 30 minutes</h1>
                <div class="stars">
                    <svg height="10" width="10" class="star">
                        <polygon
                            points="4.994,0.249 6.538,3.376 9.99,3.878 7.492,6.313 8.082,9.751 4.994,8.129 1.907,9.751 2.495,6.313 -0.002,3.878 3.45,3.376 "
                            style="fill-rule:nonzero;" />
                    </svg>
                    <svg height="10" width="10" class="star">
                        <polygon
                            points="4.994,0.249 6.538,3.376 9.99,3.878 7.492,6.313 8.082,9.751 4.994,8.129 1.907,9.751 2.495,6.313 -0.002,3.878 3.45,3.376 "
                            style="fill-rule:nonzero;" />
                    </svg>
                    <svg height="10" width="10" class="star">
                        <polygon
                            points="4.994,0.249 6.538,3.376 9.99,3.878 7.492,6.313 8.082,9.751 4.994,8.129 1.907,9.751 2.495,6.313 -0.002,3.878 3.45,3.376 "
                            style="fill-rule:nonzero;" />
                    </svg>
                    <svg height="10" width="10" class="star">
                        <polygon
                            points="4.994,0.249 6.538,3.376 9.99,3.878 7.492,6.313 8.082,9.751 4.994,8.129 1.907,9.751 2.495,6.313 -0.002,3.878 3.45,3.376 "
                            style="fill-rule:nonzero;" />
                    </svg>
                    <svg height="10" width="10" class="star">
                        <polygon
                            points="4.994,0.249 6.538,3.376 9.99,3.878 7.492,6.313 8.082,9.751 4.994,8.129 1.907,9.751 2.495,6.313 -0.002,3.878 3.45,3.376 "
                            style="fill-rule:nonzero;" />
                    </svg>

                    <span>4.0 (30 ratings)</span>
                </div>
                <br>
                <img src="images/handbag.jpg" style="width: 40%">
                <br>
                <br>
                <div class="container" style="width: 60%">
                    <div class="row justify-content-center">
                        <div class="col-md-4 col-sm-12">
                            <i class="far fa-play-circle"></i>
                            1 lesson
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <i class="far fa-clock"></i>
                            30 minutes
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <i class="fas fa-users"></i>
                            2000 users enrolled
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="row">
                    <div class="col m-3">
                        <h1 class="my-3">Description</h1>
                        <p class="m-2">
                            Donec lorem leo, gravida ut cursus et, ultrices non tortor.
                            Duis vel venenatis ligula. Etiam hendrerit at urna ac tempus.
                            Integer sagittis luctus tellus, eu molestie magna volutpat quis.
                            Praesent ullamcorper faucibus quam. Nam sed facilisis neque.
                            Etiam dictum dolor et volutpat malesuada.
                            Aliquam molestie felis in justo feugiat semper.
                            In magna arcu, luctus a nisl et, mollis ultricies sem.
                            Etiam cursus mi eget tellus ultrices fermentum.
                            Vestibulum tempor erat ac eros egestas rutrum.
                            Aliquam pulvinar blandit eros, vel tempor tellus eleifend eget.
                            Vestibulum ultricies egestas ante, eu consectetur leo pretium vel.
                            Aliquam mollis dolor libero, ac sagittis velit dignissim at.
                            Nulla a tellus eu enim porta posuere.
                            Sed posuere at lectus ac fringilla
                        </p>
                        <h2 class="my-4"> You'll learn:</h2>
                        <div class="row">
                            <div class="col d-flex flex-wrap">
                                <span class="my-2 col-lg-6 col-12"><i class="fas fa-check" style="color:green;"></i> How
                                    to take the right measurments</span>
                                <span class="my-2 col-lg-6 col-12"><i class="fas fa-check" style="color:green;"></i> How
                                    to cut the leather properly</span>
                                <span class="my-2 col-lg-6 col-12"><i class="fas fa-check" style="color:green;"></i> How
                                    to add decorations</span>
                                <span class="my-2 col-lg-6 col-12"><i class="fas fa-check" style="color:green;"></i> How
                                    to finalize neatly</span>
                            </div>
                        </div>
                        <h1 class="my-3">Requirements:</h1>
                        <div class="media m-3">
                            <img src="images/leatherHides.jpg" class="mr-3" alt="leather" style="width: 100px;">
                            <div class="media-body">
                                <h4 class="mt-4">1 cowhide or garment leather skin, 4-10 oz</h4>
                            </div>
                        </div>
                        <div class="media m-3">
                            <img src="images/thread.jpg" class="mr-3" alt="thread" style="width: 100px;">
                            <div class="media-body">
                                <h4 class="mt-4">1 spool of waxed linen thread</h4>
                            </div>
                        </div>
                        <div class="media m-3">
                            <img src="images/harness_needles.jpg" class="mr-3" alt="needles" style="width: 100px;">
                            <div class="media-body">
                                <h4 class="mt-4">2 harness needles</h4>
                            </div>
                        </div>
                        <div class="media m-3">
                            <img src="images/xactoknife.jpg" class="mr-3" alt="xactoknife" style="width: 100px;">
                            <div class="media-body">
                                <h4 class="mt-4">X-acto knife</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center" style="color:olivedrab">$ 9</h1>
                        <div class="row justify-content-center">
                            <button type="button" class="btn btn-success btn-lg m-2">Enroll Now</button>
                            <button type="button" class="btn btn-outline-dark btn-lg m-2"><i
                                    class="fas fa-bookmark"></i> Save</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 col-md-7">
                        <h2>Prerequisites</h2>
                        <div class="flex-column">
                            <p>* Know how to use needle</p>
                            <p>* Has the common sense of fashion</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-5">
                        <h2>Skill level</h2>
                        <div class="media">
                            <img src="images/skill-1.png" class="mr-3" alt="skill" style="width:40px;">
                            <div class="media-body">Beginner</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h2 class="my-4">Instructor</h2>
                        <div class="flex-column pt-3" style="border: grey dashed 0.5px">
                            <div class="d-flex">
                                <div class="circle mx-4"
                                    style="background-image: url('assets/images/user.jpg'); background-size: cover;"></div>
                                <div class="mt-2">
                                    <h3>User Name</h3>
                                    <div class="userCard__socialIconsBox">
                                        <div class="userCard__socialIcon"><i class="fab fa-facebook-f"></i>
                                        </div>
                                        <div class="userCard__socialIcon"><i class="fab fa-twitter"></i></div>
                                        <div class="userCard__socialIcon"><i class="fab fa-linkedin-in"></i>
                                        </div>
                                    </div>
                                    <p>about the instructor</p>
                                    <a href="#">profile link</a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary btn-lg m-4">Follow</button>
                        </div>

                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h2>Categories</h2>
                        <div class="d-flex flex-wrap">
                            <button type="button" class="btn btn-info m-2">Leather</button>
                            <button type="button" class="btn btn-info m-2">Bags</button>
                            <button type="button" class="btn btn-info m-2">Category3</button>
                            <button type="button" class="btn btn-info m-2">Category4</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container"> -->
    <!-- <div class="row">
            <div class="col-8">
                <img src="images/Courses.png" style="height: 30rem;">
            </div>
            <div class="col-4">
                <ul class="list-group" style="height: 50rem;">
                    Course Features
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Cras justo odio
                        <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Dapibus ac facilisis in
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Morbi leo risus
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Dapibus ac facilisis in
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Morbi leo risus
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Cras justo odio
                        <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Dapibus ac facilisis in
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                </ul>
            </div>
        </div> -->
    <!-- <div class="row">
            <div class="col-8">
                <div class="row justify-content-between">-->
    <!-- <div class="media col-3">
                        <img src="images/user.jpg" class="mr-3" alt="user" style="width: 100px;">
                        <div class="media-body">
                            <h5 class="mt-0">Name</h5>
                            Position
                        </div>
                        <div class="media-body" style="border-left: 1px solid grey; margin: 0rem 1rem; height: 5rem">
                        </div>
                        <div class="media-body">
                            <h5 class="mt-0">Category</h5>
                        </div>
                        <div class="media-body" style="border-left: 1px solid grey; margin: 0rem 1rem; height: 5rem">
                        </div>
                        <div class="media-body">
                            <h5 class="mt-0">Reviews</h5>
                            5.0
                        </div>
                    </div> -->
    <!-- <div class="col-2">
                        <button type="button" class="btn btn-primary btn-lg">Enroll</button>
                    </div> -->
    <!-- </div>
                <br>
                <div class="container" style="padding-top: 1rem">
                    <div class="row">
                        <div class="col">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-overview-tab" data-toggle="pill"
                                        href="#pills-overview" role="tab" aria-controls="pills-overview"
                                        aria-selected="true">Overview</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-instructor-tab" data-toggle="pill"
                                        href="#pills-instructor" role="tab" aria-controls="pills-instructor"
                                        aria-selected="false">Instructor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-reviews-tab" data-toggle="pill" href="#pills-reviews"
                                        role="tab" aria-controls="pills-reviews" aria-selected="false">Reviews</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-overview" role="tabpanel"
                                    aria-labelledby="pills-overview-tab">
                                    <h1>Course Details</h1>
                                    <p>
                                        Donec lorem leo, gravida ut cursus et, ultrices non tortor.
                                        Duis vel venenatis ligula. Etiam hendrerit at urna ac tempus.
                                        Integer sagittis luctus tellus, eu molestie magna volutpat quis.
                                        Praesent ullamcorper faucibus quam. Nam sed facilisis neque.
                                        Etiam dictum dolor et volutpat malesuada.
                                        Aliquam molestie felis in justo feugiat semper.
                                        In magna arcu, luctus a nisl et, mollis ultricies sem.
                                        Etiam cursus mi eget tellus ultrices fermentum.
                                        Vestibulum tempor erat ac eros egestas rutrum.
                                        Aliquam pulvinar blandit eros, vel tempor tellus eleifend eget.
                                        Vestibulum ultricies egestas ante, eu consectetur leo pretium vel.
                                        Aliquam mollis dolor libero, ac sagittis velit dignissim at.
                                        Nulla a tellus eu enim porta posuere.
                                        Sed posuere at lectus ac fringilla
                                    </p>
                                    <h1>Course Requirements</h1>
                                    <ul>
                                        <li>sicssors</li>
                                        <li>tape</li>
                                        <li>decorating flowers</li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="pills-instructor" role="tabpanel"
                                    aria-labelledby="pills-instructor-tab">
                                    <div class="media col-3">
                                        <img src="images/user.jpg" class="mr-3" alt="user" style="width: 400px;">
                                        <div class="media-body">
                                            <h5 class="mt-0">Name</h5>
                                            Position
                                            <div class="userCard__socialIconsBox">
                                                <div class="userCard__socialIcon"><i class="fab fa-facebook-f"></i>
                                                </div>
                                                <div class="userCard__socialIcon"><i class="fab fa-twitter"></i></div>
                                                <div class="userCard__socialIcon"><i class="fab fa-linkedin-in"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <p>
                                            She is the Professor of the Department of Art & Science at Dhaka University
                                            where he has been since 2008. He also currently serves as Chief Scientist of
                                            IU, Inc. During 2003-2004 he was a Visiting Professor at the Newyork, VI
                                            (LIP6). He received a B.S. from Oxford University in 2004, and an M.S. from
                                            the North South University, Dhaka.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-reviews" role="tabpanel"
                                    aria-labelledby="pills-reviews-tab">
                                    <p>Reviews</p>
                                    <p>5.0 based on two reviews</p>
                                    5 stars
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar" role="progressbar" style="width: 100%"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <br>
                                    4 stars
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                    <br>
                                    3stars
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                    <br>
                                    2 stars
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                    <br>
                                    1 stars
                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                    <br>
                                    <h1> Reviews</h1>
                                    <br>
                                    <div class="media col-3">
                                        <img src="images/user.jpg" class="mr-3" alt="user" style="width: 100px;">
                                        <div class="media-body">
                                            <h5 class="mt-0">Name</h5>
                                            Review
                                        </div>
                                    </div>
                                    <br>
                                    <div class="media col-3">
                                        <img src="images/user.jpg" class="mr-3" alt="user" style="width: 100px;">
                                        <div class="media-body">
                                            <h5 class="mt-0">Name</h5>
                                            Review
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
    <!-- </div>
        </div> -->
    <!-- <div class="col-4">
        </div> -->
    <!-- </div> -->
    <!-- </div> -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>