*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
<<<<<<< HEAD
html
{
    font-size: 62.5%;
    height: 100%;
}
body
{
    font-size: 1.6rem;
    height: 100%;
}
=======
// html
// {
//     font-size: 62.5%;
// }
// body
// {
//     font-size: 1.6rem;
// }
>>>>>>> 6173462a0f2b30fd1d038516a010af437980f439
