.row {
    display: flex;
}

.justify--content--end {
    display: flex;
    justify-content: flex-end;
}

.justify--content--between {
    display: flex;
    justify-content: space-between;
}
.justify--content--evenly {
    display: flex;
    justify-content: space-evenly;
}
.align--items--center {
    align-items: center
}
.p--bm--sm{
    padding-bottom: 0.8rem;
}
.white{
    color: white;
}
.text--center{
text-align: center;
}
.text--left{
    text-align: left;
}
.text--right{
    text-align: right;
}
.m-auto{
    margin: auto;
}

.flipY
{
    transform: rotateY(0deg);
    &--right
    {
        &:hover
        {
        transform: rotateY(45deg);
        }
    }
    &--left
    {
        &:hover
        {
        transform: rotateY(-45deg);
        }
    }
   
}