<div class="card text-center">
  <div class="card-header bg-primary">
    <h4 class="card-title mb-0 text-light"><strong>Your</strong> Orders</h4>
  </div>
  <div class="card-body ">
    <ul class="list-group list-group-flush mb-3">
      <li *ngFor="let order of ordersSummary"
        class="list-group-item d-flex justify-content-between align-items-center text-capitalize">
        {{order.statusName}}
        <span class="badge badge-primary badge-pill">{{order.ordersCount}}</span>
      </li>
    </ul>
    <a class="btn btn-primary card-link" href="">View Orders Details</a>
  </div>
</div>