<div class="container-fluid bg-grey p-5">
  <div class="row justify-content-center p-10 ">
    <form [formGroup]="signUpForm" class="card m-0 p-4  col-lg-6 col-sm-12" (ngSubmit)="onSubmit()" >
      <div class="text-center text-primary">
        <h1 class="card-title">Sign up!</h1>
      </div>
      <div class="card-body row justify-content-center ">
        <div class="col-12">
          <h2>Personal Information</h2>
        </div>

        <div class="form-group col-12">
          <input type="text" class="form-control form-control-lg"  placeholder="First Name" formControlName="txtFN">
        </div>
        <div class="form-group col-12">
          <input type="text" class="form-control form-control-lg"  placeholder="Last Name" formControlName="txtLN">
        </div>
        <div class="form-group col-12">
          <input type="text" class="form-control form-control-lg" a placeholder="Username" formControlName="txtUN">
        </div>
        <div class="col">
          <h3>Gender</h3>
          <div class="form-check m-3">
            <input class="form-check-input" type="radio"  id="exampleRadios1" formControlName="gender" value="Male"
              >
            <label class="form-check-label" for="exampleRadios1">
              Male
            </label>
          </div>
          <div class="form-check m-3">
            <input class="form-check-input" type="radio"  id="exampleRadios2" formControlName="gender" value="Female">
            <label class="form-check-label" for="exampleRadios2">
              Female
            </label>
          </div>
        </div>
        <div class="form-group col-12">
          <input type="number" class="form-control form-control-lg" placeholder="Phone Number" formControlName="phoneNumber">
        </div>

        <div class="form-group col-12">

          <input type="email" class="form-control form-control-lg" aria-describedby="emailHelp" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group col-12">
        
          <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" formControlName="password">
        </div>
        <div class="form-group col-12">
          
          <input type="password" class="form-control form-control-lg" id="exampleInputPassword3"
            placeholder="Confirm Password" formControlName="confirmPW">
        </div>
        <div class="col-12">
          <h2>Address Details</h2>
        </div>
        <div class="col-6">
          <select  class="form-control form-control-lg" formControlName="country" (change)="countryChange($event.target.value)" >
            <option [value]="null">Country</option>
            <option *ngFor="let country of countries" [value]="country.id" >{{country.name}}</option>
      
          </select>
        </div>
        <div class="col-6">
          <select class="form-control form-control-lg" formControlName="city">
            <option [value]="null">City</option>
            <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
          </select>
        </div>
        <div class="col-12 m-3">
          <div class="form-row">
            <div class="form-group col-md-6">
            
              <input type="text" class="form-control form-control-lg"  placeholder="Street" formControlName="txtStreet">
            </div>
            <div class="form-group col-md-3">
            
              <input type="text" class="form-control form-control-lg"  placeholder="Building" formControlName="txtBuilding">
            </div>
            <div class="form-group col-md-3">
            
              <input type="text" class="form-control form-control-lg"  placeholder="Apartment" formControlName="txtApartment">
            </div>
          </div>
        </div>
        <button type="submit" class="col-5 btn btn-primary btn-lg btn-block m-3" >Submit</button>
      </div>
      <div class=" text-muted text-center">
        already registered? <a routerLink="/login" class="card-link">Log In</a>
      </div>
    </form>
  </div>
</div>