.cover {
    height: 200px;
    background-size: cover;
    position: relative;
}

.shop-photo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 45%;
    left: 4%;
}

.no-gutters {
    padding-left: 0px;
    padding-right: 0px;
}