.profile {
    &__cover {
        height: 200px;
        background-size: cover;
    }

    &__userphoto {
        width: 14.5rem;
    }

    &--content {
        margin-top: 7rem;
    }

    &__cover__container {
        overflow: hidden;
        position: relative;
    }

    &__pic {
        position: absolute;
        top: 19%;
        left: 8%;
    }

}