.shop{

    h1,h2{
        color:$primary;
    }
    &-categories{
        .list-group-item:hover{
            cursor: pointer;
        }
    }
    &-slider{
        position: relative;
        &__controls{
            display: flex;
            position: absolute;
            width: 100%;
            justify-content: space-between;
            top:50%;
            transform: translateY(-50%);
        }
        &__btn{
            color:$primary;
            font-size: 2rem;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &-cover{
        height: 200px;
        @include background;        
    }

    &-photo{
        width: 200px;
        height: 200px;
        @include background;
        z-index: 1021;
        position: absolute;
        top: -50%;
        left: 8%;
        border-radius: 50%;
        border:1px solid black;
    }
    &-user-photo{
        width: 50px;
        height: 50px;
        @include background;
        border-radius: 50%;
    }
    .checked {
        color: orange;
    }
    .fas,
    .far {
        cursor: pointer;
    }
}












