<div class="container">
  <div class="row m-5">
    <div class="col-12 d-flex justify-content-center">
      <h2 class='u-title'>Shipping Information</h2>
    </div>

  </div>
  <div class="row ">
    <div class="col-12 d-flex justify-content-end">
      <app-add-address-form></app-add-address-form>
    </div>
  </div>
  <div class="row d-flex justify-content-start">
    <div *ngFor="let item of shipmentData" class="col-md-4 mt-3">
      <div class="card">
        <div class="card-body">
          <div><strong>{{item.ContactName}}</strong></div>
          <div>{{item.FullAddress}}</div>
          <div>{{item.city}},{{item.district}}</div>
          <div>{{item.country}}</div>
          <div>Phone number: <span>{{item.phone}}</span></div>
          <div>{{item.ContactEmail}}</div>
          <div class="btn btn-primary" (click)="AddToOrder(item.id)">Select</div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />