<app-loading *ngIf="!doneLoading"></app-loading>
<div class="shop">
  <!--cover-->
  <div class="container-fluid no-gutters">
    <div class="row no-gutters no-gutters">
      <div class="col-md-12">
        <div class="shop__cover d-flex justify-content-end bg-secondary">
          <img [src]="shop.cover" alt="" srcset="">
          <div class="shop__cover__img-btn" (click)="showCoverUploadModal=true"><i class="fas fa-camera"></i></div>
        </div>
      </div>
    </div>
  </div>
  <!--shop header-->
  <div class="container-fluid no-gutters">
    <div class="row justify-content-end no-gutters">
      <div class="col-md-3">
        <span class="badge badge-secondary" style="cursor:pointer">Report</span>
      </div>

    </div>
    <div class="row no-gutters justify-content-center " style="position: relative">
      <div class="col-md-3">
        <div class="shop__photo "
          [ngStyle]="{'background-image': 'url(' + (shop.photo||'assets/images/add-photo-icon.png' )+ ')'}">
          <div class="shop__photo__img-btn" (click)="showPhotoUploadModal=true"><i class="fas fa-camera"></i></div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
          <div>
            <h2>{{shop.name}}</h2>
            <div class="d-flex flex-row justify-content-between">
              <div><span>{{(shop.followers&&shop.followers.length)||0}}</span> Followers</div>
              <span>|</span>
              <div><span>{{(shop.products&&shop.products.length)||0}}</span> Products</div>
            </div>
            <div><span>{{shop.sales||0}}</span> Sales</div>
          </div>

          <div>
            <div>

              <app-rating [rate]="shop.rating" [readonly]="true" (rateChange)="rate=$event"></app-rating>
              <!-- <span>(300)</span> -->
            </div>
          </div>
          <div class="shop__user-photo" style="background-image:url('assets/images/vendor-avatar.jpg')"></div>

        </div>
      </div>
      <div class="col-xs-1 d-flex flex-column justify-content-end pl-4"
        *ngIf="authService.isAuthenticated()&&shop.id!=authService.currentUser.id">
        <button type="button" class="btn btn-secondary" *ngIf="!followedByUser">Follow</button>
        <button type="button" class="btn btn-secondary " *ngIf="followedByUser">Unfollow</button>
      </div>
    </div>

  </div>
  <!--shop nav bar-->
  <div class="container-fluid no-gutters sticky-top">
    <div class="row no-gutters">
      <div class="col-12">
        <ul class="nav justify-content-center bg-secondary p-3" style="filter:opacity(50%);">
          <li class="nav-item">
            <a class="nav-link  text-light ">Overview</a>
          </li>
          <li class=" nav-item">
            <a class="nav-link  text-light ">Products</a>
          </li>
          <li class=" nav-item">
            <a class="nav-link  text-light " *ngIf="authService.isAuthenticated()&&shop.id==authService.currentUser.id"
              [routerLink]="['/products','add']">
              Add new Product</a>
          </li>
          <li class="nav-item" *ngIf="authService.isAuthenticated()&&shop.id==authService.currentUser.id">
            <a class="nav-link  text-light " [routerLink]="['/shop','edit',shop.id]">Edit shop</a>
          </li>
          <li class="nav-item" *ngIf="authService.isAuthenticated()&&shop.id==authService.currentUser.id">
            <a class="nav-link  text-light " [routerLink]="['dashboard']">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Overview -->

  <div class="container  section " id="overview">
    <div class="row ">
      <div class="col-12">
        <h2 class='text-center'>About</h2>
        <p>{{shop.about}}</p>
      </div>
      <div class="col-12 mt-5">
        <h2 class='text-center'>Policies and Returns</h2>
        <p>{{shop.policy}}</p>
      </div>
    </div>
  </div>
  <!--Recent products-->
  <div class="container-fluid no-gutters section">

    <div class="row justify-content-center no-gutters">
      <div class="col-8">
        <h2 class="text-center ">Recent Products</h2>
        <div class="row justify-content-between">
          <div class="col-md-6 col-lg-4" *ngFor="let item of relatedProducts">
            <app-product-card [Product]="item"></app-product-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!--listing-->
  <div id='products'>
    <app-product-list [products]="shopProducts"></app-product-list>
  </div>

  <app-modal title="Upload Cover Photo" [actions]="['Save','Cancel']" (clicked)="handleCoverPhoto($event)"
    *ngIf="showCoverUploadModal">
    <!-- <app-img-cropper (onCrop)="coverPhoto=$event"></app-img-cropper> -->
    <input type="file" (change)="coverPhoto=$event.target.files[0]">
  </app-modal>

  <app-modal title="Upload Shop Photo" [actions]="['Save','Cancel']" (clicked)="handleShopPhoto($event)"
    *ngIf="showPhotoUploadModal">
    <app-img-cropper (onCrop)="shopPhoto=$event"></app-img-cropper>
  </app-modal>
</div>