<div class="profile">
  <div class="container-fluid no-gutters profile__cover__container">
      <div class="row no-gutters">
          <div class="col-12">
              <div class="profile__cover" style="background-image:url('assets/images/img.png')">
              </div>
          </div>
      </div>
  </div>
  <!-- profile pic -->
  <div class="row container">
      <div class="profile__pic">
          <div class="profile__userphoto">
              <div class="userCard text--center">
                  <div class="userCard__thumbnail" style="background-image: url('assets/images/woman.jpg'); ">
                  </div>
                  <!-- must be h3 due to css -->
                  <h3>Bassant Fahmy</h3>
                  <h5 class="text-info">It is easy if you try</h5>
                  <p>
                      <a>View shop</a>
                  </p>
              </div>
          </div>
      </div>
      <div class="ml-auto mt-3"><button class="btn btn-primary">Edit Profile</button></div>
  </div>
  <!-- myorders -->
  <div class="container">
      <div class="profile--content">
          <div class="container">
              <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                          role="tab" aria-controls="nav-home" aria-selected="true">My-orders</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                          role="tab" aria-controls="nav-profile" aria-selected="false">Favorite Shops</a>
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                          role="tab" aria-controls="nav-contact" aria-selected="false">Favorite Items</a>
                  </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                      aria-labelledby="nav-home-tab">...
                  </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      ...</div>
                  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      ...</div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <table class="table table-hover">
                          <thead class='thead-primary'>
                              <tr>
                                  <th>Order-code</th>
                                  <th>Status</th>
                                  <th>More Details</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>
                                      67292
                                  </td>
                                  <td>
                                      lorem ipsum
                                  </td>
                                  <td>
                                      Go To Link
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <p>25373</p>
                                  </td>
                                  <td>
                                      lorem ipsum
                                  </td>
                                  <td>
                                      <p> Go To Link</p>
                                  </td>
                              </tr>
                          </tbody>
                          <tfoot>
                              <tr class="table-secondary">
                                  <td></td>
                                  <td></td>
                                  <td>lorem ipsum</td>
                              </tr>
                          </tfoot>
                      </table>
                      <div class="d-flex justify-content-end">
                          <div class="btn-group" role="group" aria-label="Basic example">
                              <button type="button" class="btn btn-primary">Previous</button>
                              <button type="button" class="btn btn-primary">Next</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
  
  
  
  
  
  
  
  
  
    </div>


    <!---->
    <ngb-tabset #t="ngbTabset">
        <ngb-tab id="tab-selectbyid1" title="Simple">
          <ng-template ngbTabContent>
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-selectbyid2">
          <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
          <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
            craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
            cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
            yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
            sint qui sapiente accusamus tattooed echo park.</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>