input.ng-invalid.ng-touched{
    border:1px solid red;
}
.error__msg{
    color:red;
   
}
.fileUploadinput{

    color: #fff;
    min-height: 35px;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
