

<div class="productcard productcard--vertical ">
  <div class="productcard__controls">
    <button class='btn btn-primary'><i class="fas fa-pen"></i></button>
    <button class='btn btn-primary'><i class="fas fa-minus"></i></button>
  </div>
  <div class='productcard__images'>
    <img src="assets/images/image_11-1-300x300.jpg" class='productcard__img productcard__img--front'>
    <img src="assets/images/image_52-300x300.jpg" class='productcard__img productcard__img--back'>
  </div>
  <div class="productcard__title">Product Title</div>
  <div class="productcard__body">
    <div class="productcard__prices">
      <div class="price price--new price--euro">2.00</div>
      <div class="price price--old price--euro">3.00</div>
    </div>
  </div>
  <app-rating [rate]="3" [readonly]="false" (rateChange)="rate=$event"></app-rating>
  <div class="productcard__buttons">
    <div class="productcard__btn">
      <i class="fas fa-shopping-basket fa-sm"></i>
      <!-- <div class="productcard__btn__title">Add to Cart</div> -->
    </div>
    <div class="productcard__btn">
      <i class="fas fa-heart fa-sm"></i>
      <!-- <div class="productcard__btn__title">Add to Wishlist</div> -->
    </div>
    <div class="productcard__btn">
      <i class="fas fa-retweet fa-sm"></i>
      <!-- <div class="productcard__btn__title">Compare</div> -->
    </div>
    <div class="productcard__btn">
      <i class="fas fa-search fa-sm"></i>
      <!-- <div class="productcard__btn__title">View</div> -->
    </div>
  </div>
</div>