

<div class="productcard productcard--vertical ">
  <div class="productcard__controls">
    <button class='btn btn-primary'>
      <a [routerLink]="['/products' , 'edit' , product.id]">
        <i class="fas fa-pen "></i>
      </a>
    </button>  
    <button class='btn btn-primary' (click)="deleteProduct()">
        <i class="fas fa-minus"></i>
    </button>
  </div>
  <div class='productcard__images'>
    <img src="{{product.images[0]}}" class='productcard__img productcard__img--front'>
    <img src="{{product.images[1]}}" class='productcard__img productcard__img--back'>
  </div>
  <div class="productcard__title text-center">{{product.name}}</div>
  <div class="productcard__body m-auto">
    <div class="productcard__prices">
      <div class="price price--new price--euro mr-3">{{product.price}}</div>
      <div class="price price--old price--euro">{{finalPrice()}}</div>
    </div>
  </div>
  <app-rating class="text-center" [rate]="3" [readonly]="false" (rateChange)="rate=$event"></app-rating>
  <div class="productcard__buttons">
    <div class="productcard__btn">
      <i class="fas fa-shopping-basket fa-sm"></i>
      <!-- <div class="productcard__btn__title">Add to Cart</div> -->
    </div>
    <div class="productcard__btn"  (click)="addFavItem(product)">
      <i class="fas fa-heart fa-sm "  [className]="clicked ? 'heartColor fas fa-heart fa-sm' : 'fas fa-heart fa-sm'"></i>
      <!-- <div class="productcard__btn__title">Add to Wishlist</div> -->
    </div>
    <div class="productcard__btn">
      <i class="fas fa-retweet fa-sm"></i>
      <!-- <div class="productcard__btn__title">Compare</div> -->
    </div>
    <div class="productcard__btn">
      <a [routerLink]="['/products' , 'details' , product.id]">
        <i class="fas fa-search fa-sm"></i>
      </a>
      <!-- <div class="productcard__btn__title">View</div> -->
    </div>
  </div>
</div>

