<div class="container mt-5">
  <div class="row mb-5">
    <div class="col-12 d-flex justify-content-center">
      <h2 class='u-title'>Order summary</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="font-weight-bold text-primary">Order Details</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Package reference number</th>
            <th scope="col">Items</th>
            <th scope="col">Arrive by</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" rowspan="3"><a href="#">12374345345</a></th>
            <td>1 x shoes</td>
            <td rowspan="3">15 March - 20 March</td>
          </tr>
          <tr>
            <td>2 x scarf</td>

          </tr>
          <tr>
            <td>1 x shoes</td>
          </tr>
          <tr>
            <th scope="row" rowspan="1"><a href="#">sdfsdf</a></th>
            <td>1 x cup</td>
            <td rowspan="1">15 March - 20 March</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h3 class="font-weight-bold text-primary">Delivery Information</h3>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row">Shipped to</th>
            <td>
              <div><strong>Mark</strong></div>
              <div>Lorem ipsum dolor sit amet consectetur adipisicing elit
                Lorem ipsum dolor sit amet consectetur adipisicing elit
                Lorem ipsum dolor sit amet consectetur adipisicing elit
              </div>
              <div>City,District</div>
              <div>Country</div>
              <div>Phone number: <span>01234234234</span></div>
              <div>email@email.com</div>
            </td>
          </tr>
          <tr>
            <th scope="row">Shipped by</th>
            <td>
              <a href="#">Aramex</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>