<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link href="https:/fonts.googleapis.com/css?family=Titillium+Web:600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css"> -->
    <!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="./MyStyle.css">
    <script src="./jQuery.js"></script>
    <script src="../node_modules/bootstrap/js/dist/"></script>
</head>

<body>
    <div class="container-fluid bg-light" style="max-height: 100vh;min-height: 100%">
        <div class="row">
            <!-- <div class="bg-dark" id="side-nav">
                <ul class="navbar-nav bg-dark navbar-dark">
                    <li class="navbar-nav"><a class="nav-link" href="./dashboard.home.html"
                            target="_blank">Dashboard</a></li>
                    <li class="navbar-nav"><a class="nav-link" href="./dashboard.inventory.html"
                            target="_blank">Inventory</a></li>
                    <li class="navbar-nav"><a class="nav-link" href="./dashboard.orders.html" target="_blank">Orders</a>
                    </li>
                    <li class="navbar-nav"><a class="nav-link" href="./dashboard.payments.html"
                            target="_blank">Payments</a></li>
                    <li class="navbar-nav"><a class="nav-link" href="./dashboard.performance.html"
                            target="_blank">Performance</a></li>
                    <li class="navbar-nav"><a class="nav-link" href="./dashboard.sales.html" target="_blank">Sales</a>
                    </li>
                </ul>
            </div> -->
            <div class="col">
                <!-- header -->
                <div class="row bg-primary">
                    <div class="col px-2 py-2">
                        <a href="#" class="text-light"><span><i class="fas fa-user-alt"></i>Profile</span></a>
                        <span class="align-middle text-light"><i class="fas fa-chevron-right"></i></span>
                        <a href="#" class="text-light"><span class="align-middle">Dashboard</span></a>
                        <span class="align-middle text-light"><i class="fas fa-chevron-right"></i></span>
                        <span class="text-muted align-middle">Orders</span>
                    </div>
                </div>
                <!-- content -->
                <div class="row no-gutters">
                    <div class="col-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Return requests</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel">
                                <!-- order list -->
                                <div class="container-fluid">
                                    <div class="row bg-primary text-light">
                                        <div class="col-8">
                                            <h3><span class="font-weight-bold">Orders</span>List</h3>
                                        </div>
                                    </div>
                                    <div class="col-4">

                                    </div>

                                </div>
                                <!-- /order list -->

                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- <script>
        $("#toggle-menu-btn").click(function () {
            $("#side-nav").toggle("nav-collapse");
        });
    </script> -->
</body>

</html>