<div class="container-fluid bg-light">
  <div class="row">

    <div class="col">
      <!-- header -->
      <div class="row bg-primary">
        <div class="col px-2">
          <ul class="custom-breadcrumb">
            <li class="custom-breadcrumb-item"><a [routerLink]="['/shop',shopId]">Shop</a></li>
            <li class="custom-breadcrumb-item active">Dashboard</li>
          </ul>
        </div>
      </div>
      <!-- content -->
      <!-- summary cards -->
      <div class="row no-gutters text-light">
        <!-- visits -->
        <div class="col-lg-3 col-md-6 px-2 py-2">
          <app-summary-card [imageUrl]="visitsImage" [bg-color]="'bg-warning'" [label]="'Visits'" [value]="visitsValue">
          </app-summary-card>
        </div>
        <!-- inventory -->
        <div class="col-lg-3 col-md-6 px-2 py-2">
          <app-summary-card [imageUrl]="productsImage" [bg-color]="'bg-dark'" [label]="'Sold Products'"
            [value]="productsValue">
          </app-summary-card>
        </div>
        <!-- orders -->
        <div class="col-lg-3 col-md-6 px-2 py-2">
          <app-summary-card [imageUrl]="ordersImage" [bg-color]="'bg-info'" [label]="'Orders'" [value]="ordersValue">
          </app-summary-card>
        </div>
        <!-- sales -->
        <div class="col-lg-3 col-md-6 px-2 py-2">
          <app-summary-card [imageUrl]="revenuImage" [bg-color]="'bg-success'" [label]="'Revenu'"
            [value]="revenuValue+'$'">
          </app-summary-card>
        </div>
      </div>
      <!-- /summary cards -->

      <!-- info badges -->
      <div class="row no-gutters">
        <div class="col">
          <div class="card-columns p-2">
            <!-- inventory details -->
            <app-inventory-card></app-inventory-card>
            <!-- orders summary -->
            <app-orders-summary></app-orders-summary>
            <!-- shop visits statistics -->
            <app-visits-summary></app-visits-summary>
            <!-- sales charts -->
            <app-sales-chart></app-sales-chart>
            <!-- sales summary -->
            <app-sales-summary></app-sales-summary>
          </div>
        </div>
      </div>
      <!-- /info badges -->
    </div>
  </div>
</div>