<!-- Header -->
<!-- <div class="container-fluid p-0 m-0">
    <div class="row py-5 m-0">
        <div class="col-lg-12 d-flex justify-content-center">
            <h1> Product Name</h1>
        </div>
    </div>
</div> -->

<!-- Product Details -->
<div class="container py-5">
  <div class="row">
    <div class="col-sm-6">
      <div class="row m-0">
          <img class="w-100 p-1" src="../../../../assets/images/img1.jpg">
      </div>
      <div class="row m-0">
        <div class="col-sm-3 px-0">
            <img class="w-100 px-1" src="../../../../assets/images/img1.jpg">
        </div>
        <div class="col-sm-3 px-0">
            <img class="w-100 px-1" src="../../../../assets/images/img1.jpg">
        </div>
        <div class="col-sm-3 px-0">
            <img class="w-100 px-1" src="../../../../assets/images/img1.jpg">
        </div>
        <div class="col-sm-3 px-0">
            <img class="w-100 px-1" src="../../../../assets/images/img1.jpg">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-0">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h2 class="card-title">{{product.name}}</h2>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add to Cart</button>
          </div>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="container">
                        <div class="row d-flex justify-content-center">
                          <div class="col-10 m-3 ">
                            <!-- <form>
                              <h6>Quantity</h6>
                              <select class="custom-select">
                                  <option selected>1</option>
                                  <option value="1">2</option>
                                  <option value="2">3</option>
                                  <option value="3">4</option>
                              </select>
          
                              <h6>Customization</h6>
                              <textarea class="form-control" aria-label="With textarea"></textarea>
                              
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                  <label class="form-check-label" for="exampleCheck1">Agree Terms and Conditions </label>
                              </div>
                                <button type="submit" class="btn bg-primary w-100 my-2">Submit</button>
                            </form>  -->
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
              
              <h6 class="card-subtitle mb-2 text-muted">
                  <!-- rating here  -->
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <a href="#" class="card-link">( 1 Review )</a>
              </h6>
              <span class="card-text"> ${{product.price}} </span>
              <span class="card-text"> ${{finalPrice()}} </span>
              <p class="card-text">{{product.description}}</p>
              <ul>
                  <li>Size medium</li>
                  <li>Fits wrists up to 6.25</li>
                  <li>Original designs copyrighted by Elsa Peretti.</li>
              </ul>

              <p>Available {{product.quantity}} Pieces</p>

              <!-- Customization options -->
              <!-- <p>Product Customization options:
                <ul>
                    <li>Length</li>
                    <li>Height</li>
                    <li>Colors</li>
                </ul> -->
              
           
              <h6>Category:
                  <a href="#" class="card-link">{{product.category.name}}</a>
              </h6>
              <!-- <h6>Tag:
                  <a href="#" class="card-link">Another link</a>
              </h6> -->
              <div>
                  <h5 class="card-title">Terms and Conditions</h5>
                  <p> {{product.terms}} </p>
                  </div>
          </div>
      </div>
    </div>
  </div>
  <div class="progress" style="height: 3rem">
      <!-- <a class="progress-bar bg-secondary" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> -->
          <!-- <h5>Add to Cart</h5></a> -->
      <a class="progress-bar bg-secondary" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <h5>Reviews</h5></a>
  </div>
  <!-- <div class="row d-flex justify-content-center">
      <button type="button" class="btn "><h2>Review (1) </h2></button>  
  </div> -->
</div> 
<!-- Add to Cart -->

<!-- Add Review -->

<div class="container">
    <div class="row ">
        <div class="col-sm-12">
            <div class="card border-0 bg-light">
                <div class="card-body">
                    <div class="card-title border-left border-primary p-2"> 1 review for Bean Bracelet</div>
                
                    <div class="d-flex flex-row">
                        <img src="../../../../assets/images/woman.jpg" alt="..." class="rounded-circle" width="150" height="150">
                        <div class="d-flex flex-column">
                            <div class="d-inline">
                                <span class="fa fa-star checked "></span>
                                <span class="fa fa-star checked "></span>
                                <span class="fa fa-star checked "></span>
                                <span class="fa fa-star checked "></span>
                                <span class="fa fa-star checked "></span>
                            </div>
                    
                            <span class="card-text"> Tibero Tempore  </span>
                            <span class="card-text">  March 23, 2017 </span>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="card-body">
                    <div class="card-title border-left border-primary p-2"> Add a Review</div>
                    <p class="d-inline">Your email address will not be published. Required fields are marked</p>
                    <span>*</span>
                    <div class="d-flex justify-content-around">
                        <div class="w-50 p-1">
                            <span>Name</span>
                            <span>*</span>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="w-50 p-1">
                            <span>Email</span>
                            <span>*</span>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                    </div>

                    <span>Your Rating</span>
                    <div class="">
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                    </div>
                    <div>
                        <span>Your Review </span>
                        <span>*</span>
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary m-1">Submit</button>
                    

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Related Products -->
<div class="container py-5 ">
    <div class="row">
        <div class="card-title border-left border-primary p-2"> Related Products </div>
    </div>
    <div class="row p-0 m-0">
        <div class="col-lg-3">
            <div class="card border-0">
                <img src="../../../../assets/images/img1.jpg" class="w-100">
                <div class="card-title border-left border-primary p-2"> Tiffany Bracelet </div>
                <div class="d-flex justify-content-between">
                    <span>$30.00</span>
                    <div class="d-inline">
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="card border-0">
                <img src="../../../../assets/images/img1.jpg" class="w-100">
                <div class="card-title border-left border-primary p-2"> Tiffany Bracelet </div>
                <div class="d-flex justify-content-between">
                    <span>$30.00</span>
                    <div class="d-inline">
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card border-0">
                <img src="../../../../assets/images/img1.jpg" class="w-100">
                <div class="card-title border-left border-primary p-2"> Tiffany Bracelet </div>
                <div class="d-flex justify-content-between">
                    <span>$30.00</span>
                    <div class="d-inline">
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3">
            <div class="card border-0">
                <img src="../../../../assets/images/img1.jpg" class="w-100">
                <div class="card-title border-left border-primary p-2"> Tiffany Bracelet </div>
                <div class="d-flex justify-content-between">
                    <span>$30.00</span>
                    <div class="d-inline">
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked "></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>