<!-- Header -->
<!-- <app-page-header title="{{product.name}}" [paths]="[{name:'Home',url:'/'},{name:'Products',url:'/products'},
{name:product.name,url:''}]">
</app-page-header> -->

<!-- Product Details -->
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class='row '>
                <div class="col-lg-6 product-details__images">
                    <div class="row no-gutters">
                        <div class="col-12 product-details__images__main-img">
                            <img [src]="product.images[activeImageIndex]" alt="" srcset="">
                        </div>
                    </div>
                    <div class="row no-gutters justify-content-around">
                        <div class=" product-details__images__img" [ngStyle]="{'background-image': 'url(' + img + ')'}"
                            *ngFor="let img of product.images;let i = index;" (click)="activeImageIndex=i">
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 product-details__text">
                    <div class="mt-5 d-flex flex-column ">
                        <h1 class='product-details__text__title'>{{product.name}}</h1>
                        <div class='product-details__text__rating'>
                            <app-rating [readonly]="true" [rate]="product.rate"></app-rating>
                        </div>
                        <span class="price price--new price--sterling">{{product.price}}</span>
                        <span class="price price--old price--sterling" *ngIf="product.discount">
                            {{product.price+product.discount}}</span>
                        <span class="text-secondary"><span class="text-primary">Available Quantity:</span> {{product.quantity}}
                        </span>
                        <div class="text-secondary mt-2">
                            <span class="text-primary">Description: </span>  {{product.description}}
                        </div>
                        <div class="text-secondary mt-2">
                            <span class="text-primary">Terms and Condtions:</span>  {{product.terms}}
                        </div>
                        <div class='product-details__text__controls'>
                            <div class="btn-group">
                                <button type="button" class="btn btn-light"
                                    (click)="numberOfAddedItems=numberOfAddedItems-1"
                                    [disabled]="numberOfAddedItems===0"><i class="fas fa-angle-left"></i></button>
                                <button type="button" class="btn btn-light">{{numberOfAddedItems}}</button>
                                <button type="button" class="btn btn-light"
                                    (click)="numberOfAddedItems=numberOfAddedItems+1"
                                    [disabled]="numberOfAddedItems===product.quantity"><i
                                        class="fas fa-angle-right"></i></button>
                            </div>
                            <button class='btn btn-primary ml-2' (click)="addToCart()"><i
                                    class="fas fa-shopping-basket"></i>Add to
                                Cart</button>
                            <button class='btn btn-light'><i class="fas fa-heart text-primary"></i></button>
                        </div>
                        <div class='mt-3'>
                            <div class="text-secondary">Categories:
                                <a>{{product.category.name}}</a>
                            </div>
                        </div>
                    </div>

                    <div class="row no-gutters mt-5">
                        <div class="form-group product-details__text__customization  "
                            *ngFor="let item of product.customizations">
                            <label for="">{{item.field}}</label>
                            <select class="form-control form-control-sm"
                                (change)="addCustomization({field:item.field,value:$event.target.value})">
                                <option *ngFor="let value of item.values" [ngValue]="value">{{value}}</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Add to Cart -->

<!-- Add Review -->


<!-- <h3 class="text-primary border-left border-primary p-2 mb-5 "> Reviews </h3> -->
<!-- Related Products -->
<div class="container py-5 ">
    <div class="row">
        <h3 class="text-primary border-left border-primary p-2 mb-5 "> Related Products </h3>
    </div>
    <div class="row p-0 m-0">
        <div class="col-lg-3 col-md-6" *ngFor="let item of relatedProducts">
            <app-product-card [Product]="item"></app-product-card>
        </div>

    </div>
</div>