<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead class='thead-primary'>
          <tr>
            <th>Item</th>
            <th>Details</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart">
            <td>
              <div class="d-flex align-items-start">
                <img src="{{item.product.images[0]}}" alt="" width="100px">
                <a [routerLink]="['/products/details', item.productId]" routerLinkActive="text-primary" class="ml-3">
                  {{item.product.name}}
                </a>
              </div>
            </td>
            <td>
              <div class="d-flex flex-column">
                <span *ngFor="let property of item.variations | keyvalue">
                  {{property.key}}: {{property.value}}
                </span>
              </div>
            </td>
            <td>
              <app-quantity-picker [(quantity)]="item.quantity"></app-quantity-picker>
            </td>
            <td>
              ${{item.product.price}}
            </td>
            <td>
              <button class='btn btn-primary' (click)="removeProduct(item.productId)"><i
                  class="fas fa-minus"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="table-secondary">
            <td></td>
            <td></td>
            <td><strong>Total</strong></td>
            <td>{{totalPrice}}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>