<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead class='thead-primary'>
          <tr>
            <th>Item</th>
            <th>Details</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of orderedProducts">
            <td>
              <div class="d-flex align-items-start">
                <img src="{{product.product.images[0]}}" alt="" width="100px">
                <a href="" class="ml-3">{{product.product.name}}</a>
              </div>
            </td>
            <td>
              <div class="d-flex flex-column">
                <span *ngFor="let property of product.details | keyvalue">
                  {{property.key}}: {{property.value}}
                </span>
              </div>
            </td>
            <td>
              <app-quantity-picker [(quantity)]="product.quantity"></app-quantity-picker>
            </td>
            <td>
              ${{product.price}}
            </td>
            <td>
              <button class='btn btn-primary' (click)="removeProduct(product.id)"><i class="fas fa-minus"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="table-secondary">
            <td></td>
            <td></td>
            <td><strong>Total</strong></td>
            <td>{{order.invoice.subtotal}}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
      <app-pagination></app-pagination>
    </div>
  </div>
</div>