<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead class='thead-primary'>
          <tr>
            <th>Item</th>
            <th>Details</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-start">
                <img src="assets/images/img1.jpg" alt="" width="100px">
                <a href="" class="ml-3">Product Name lorem</a>
              </div>
            </td>
            <td>
              <div class="d-flex flex-column">
                <span>Size: L</span>
                <span>Color: red</span>
              </div>
            </td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light"><i class="fas fa-angle-left"></i></button>
                <button type="button" class="btn btn-light">2</button>
                <button type="button" class="btn btn-light"><i class="fas fa-angle-right"></i></button>
              </div>
            </td>
            <td>
              $20
            </td>
            <td>
              <button class='btn btn-primary'><i class="fas fa-minus"></i></button>
            </td>
          </tr>

          <tr>
            <td>
              <div class="d-flex align-items-start">
                <img src="assets/images/img1.jpg" alt="" width="100px">
                <a href="" class="ml-3">Product Name lorem</a>
              </div>
            </td>
            <td>
              <div class="d-flex flex-column">
                <span>Size: L</span>
                <span>Color: red</span>
              </div>
            </td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light"><i class="fas fa-angle-left"></i></button>
                <button type="button" class="btn btn-light">2</button>
                <button type="button" class="btn btn-light"><i class="fas fa-angle-right"></i></button>
              </div>
            </td>
            <td>
              $20
            </td>
            <td>
              <button class='btn btn-primary'><i class="fas fa-minus"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="table-secondary">
            <td></td>
            <td></td>
            <td><strong>Total</strong></td>
            <td>$20</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
      <div class="d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">Previous</button>
          <button type="button" class="btn btn-primary">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>